GAME_ICON ICON "icon.ico"
TEXTURE IMAGE "weapon.png"
BGM SOUND "ashigaru_bgm.ogg"
SE1 SOUND "pi03.wav"
SE2 SOUND "saku03.wav"
SE3 SOUND "saku09.wav"
SE4 SOUND "swing02.wav"
SE5 SOUND "swing18.wav"
SE6 SOUND "wood05.wav"
